<footer class="fixed-bottom navbar-fixed text-center text-white"position: fixed-bottom; style="background-color: #f1f1f1;">

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="https://github.com/vits56">Bruno Bastos Duarte</a>
  </div>
  <!-- Copyright -->
</footer>