<footer class="footer navbar-fixed-bottom text-center text-white"position: fixed; style="background-color: #f1f1f1;">

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="https://bastosduartebruno@gmail.com/">bastosduartebruno@gmail.com</a>
  </div>
  <!-- Copyright -->
</footer>